@{
    ViewData["Title"] = "Home Page";
}

<!-- Link para a página de cadastro de produto -->
<a class="btn btn-danger" asp-controller="produto" asp-action="cadastrar">Cadastro de Produto</a>

<!-- Link para a página de cadastro de usuário -->
<a class="btn btn-warning" asp-controller="usuario" asp-action="cadastrar">Cadastro de Produto</a>

<!-- Link para a página de cadastro de veículo -->
<a class="btn btn-success" asp-controller="veiculo" asp-action="cadastrar">Cadastro de Veículo</a>