@model Veiculo

@{
    ViewData["Title"] = "Cadastrar";
}

@section Links{ 
    <a asp-action="index" asp-controller="veiculo">Veículos</a>
}

<h1>Cadastro de Veículo</h1>

<!-- Criar a tag para mensagem: -->
<mensagem texto="@TempData["msg"]"></mensagem> 

@*@@if (TempData["msg"] != null) 
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div> 
}*@

<form asp-action="cadastrar">
    
    <!-- Incluir o conteúdo da página _Form.cshtml -->
    <partial name="_Form" />

    <botao class="Salvar"></botao>
    <a asp-action="index" class="btn btn-outline-dark">Veículos</a>
</form>