@model Veiculo

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<form asp-action="editar">

    <!-- Incluir o conteúdo da página _Form.cshtml -->
    <partial name="_Form" />

    <input type="submit" value="Editar" class="btn btn-outline-primary" />
    <a asp-action="index" class="btn btn-outline-dark">Cancelar</a>
</form>