@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Filmes Disponíveis</h5>
        <p class="card-text">@ViewData["quantidade"]</p>
        <a asp-action="cadastrar" asp-controller="filme" class="card-link">Cadastrar</a>
        <a asp-action="index" asp-controller="filme" class="card-link">Listar</a>
    </div>
</div>
